.create{
	margin-left: 15px;
}

tbody tr:hover{
	cursor: pointer;
}

.chartContainer{
	width: 400px;
	height: 400px;
	float: left;
}

#clearChart{
	float: right;
}

#clearChart:hover{
	cursor: pointer;
}

#userName{
	display: inline;
}

#file_manager{
	margin-top: -25px;
	padding-top:30px;

	padding-right:2%;
	padding-left:2%;	
}